@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap'); 
    /*General Style*/
    html, body {
        font-family: 'Roboto Mono', monospace;
        background: #1e2124;
        color: rgb(58, 143, 58);
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important;
    }
    .over {
        min-height: 100%; 
        position: absolute;
    }

    
    /*Scrollbar*/
    ::-webkit-scrollbar-track {
        border-radius: 50px !important;
        background: rgba(0, 0, 0, 0.192);
    }
    
    ::-webkit-scrollbar {
        border-radius: 50px !important;
        width: 3px;
        height: 3px;
        background: rgba(0, 0, 0, 0.205);
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 50px !important;
        background-color: #ffffff;
    }


    /*Sound Toggle*/
    .sbar {
        height: 1px;
        width: 2px;
        float: left;
        background-color: #ffffff;
        opacity: 1;
        bottom: 5px;
        position: absolute;
        -webkit-animation-duration: 500ms;
        -webkit-animation-play-state: running;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 500ms;
        animation-play-state: running;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    .sbar.noAnim {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    
    .sbar#bar-1 {
        left: 0;
        -webkit-animation-name: danceHeight1;
        -webkit-animation-delay: 0ms;
        animation-name: danceHeight1;
        animation-delay: 0ms;
    }
    
    .sbar#bar-2 {
        left: 4px;
        -webkit-animation-name: danceHeight2;
        -webkit-animation-delay: 300ms;
        animation-name: danceHeight2;
        animation-delay: 300ms;
    }
    
    .sbar#bar-3 {
        left: 8px;
        -webkit-animation-name: danceHeight3;
        -webkit-animation-delay: 600ms;
        animation-name: danceHeight3;
        animation-delay: 600ms;
    }
    
    .sbar#bar-4 {
        left: 12px;
        -webkit-animation-name: danceHeight4;
        -webkit-animation-delay: 900ms;
        animation-name: danceHeight4;
        animation-delay: 900ms;
    }
    
   
    .footer-sound {
        text-align: center;
        width: 18px;
        position: fixed;
        height: 18px;
        margin-left: auto;
        top: 2vh;
        cursor: pointer;
        z-index: 10000;
    }
    
    .footer-sound {
        left: 96vw;
        top: 3vh;
        right: unset;
    }



       /*Content Webpage*/

    .title {

        text-align: center;
        left: 50%;
    }
    .intro {
        left: 0;
        top: 50%;
        padding: 0 20px;
        width: 100%;
        text-align: center;
      }
      h1 {
        text-transform: uppercase;
        position: relative;
        font-size: 45px;
        letter-spacing: 0.020em;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
             transition: all 0.4s;
      }
      h1::after {
        content: '';
        width: 80px;
        display: block;
        background: rgb(0, 161, 22);
        height: 10px;
        margin: 30px auto;
        line-height: 1.1;
      }
      h1:hover{
        color: #ffffff;
        animation: headliner 3s ease-in-out infinite;
        
      }
      p {
        position: relative;
        margin: 0 0 30px 0;
        font-size: 24px;
      }
      .btn {
        display: inline-block;
        position:relative;
        border: 2px solid rgb(255, 0, 0);
        text-transform: uppercase;
        letter-spacing: 0.015em;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: rgb(255, 0, 0);
        text-decoration: none;
        -webkit-transition: all 0.4s;
           -moz-transition: all 0.4s;
             -o-transition: all 0.4s;
                transition: all 0.4s;
      }
      .btn:hover {
        color: #ffffff;
        border-color: #ffffff;
        
        background-image: url(https://i.imgur.com/CS9dLjS.gif);
        text-decoration: none;
      }

      .easteregg {
        position: relative;
        margin: 0 0 30px 0;
        font-size: 24px;
      }
      .easteregg:hover {
        color: #ffffff;
        border-color: #ffffff;
        
        background-image: url(https://i.imgur.com/CS9dLjS.gif);
        text-decoration: none;
        animation: easteregg 8s ease-in-out infinite;
      }


    /*Animations*/
    @keyframes easteregg {
        0% {
            color: rgb(255, 217, 0);
        }
        20% {
            color: rgb(255, 0, 0);
        }
        30%{
            color: rgb(51, 255, 0);
        }
        40%{
            color: rgb(0, 247, 255);
        }
        50%{
            color: rgb(0, 162, 255);
        }
        60%{
            color: rgb(17, 0, 255);
        }
        70%{
            color: rgb(132, 0, 255);
        }
        80%{
            color: rgb(225, 0, 255);
        }
        90%{
            color: rgb(255, 176, 242);
        }
        100%{
            color: rgb(255, 123, 0);
        }   
    }

    @keyframes headliner {
        0% {
            color: rgb(0, 161, 22);
        }
        50% {
            color: rgba(9, 255, 0, 0.384);
        }
        100% {
            color: rgb(0, 161, 22);
        }
    }
    @-webkit-keyframes danceHeight1 {
        from {
            height: 1px;
        }
        to {
            height: 10px;
        }
    }
    
    @-webkit-keyframes danceHeight2 {
        from {
            height: 1px;
        }
        to {
            height: 12px;
        }
    }
    
    @-webkit-keyframes danceHeight3 {
        from {
            height: 1px;
        }
        to {
            height: 14px;
        }
    }
    
    @-webkit-keyframes danceHeight4 {
        from {
            height: 1px;
        }
        to {
            height: 8px;
        }
    }
    
    @keyframes danceHeight1 {
        from {
            height: 1px;
        }
        to {
            height: 10px;
        }
    }
    
    @keyframes danceHeight2 {
        from {
            height: 1px;
        }
        to {
            height: 12px;
        }
    }
    
    @keyframes danceHeight3 {
        from {
            height: 1px;
        }
        to {
            height: 14px;
        }
    }
    
    @keyframes danceHeight4 {
        from {
            height: 1px;
        }
        to {
            height: 8px;
        }
    }
    